body {
  background-color: #000000;
  color: white;
  font-family: monospace;
  text-align: center;
  padding: 20px;
}

.panel {
  background-color: #1A1A1A;
  padding: 20px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
}

button {
  background-color: #B30000;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

textarea, input {
  width: 90%;
  margin-bottom: 10px;
  background: #000;
  color: white;
  border: 1px solid #B30000;
}
